<div class="dropdown">
  <mat-form-field appearance="fill" *ngIf="load"  style=" width: 12rem;">
    <!-- <mat-label>Card</mat-label> -->
    <mat-select (selectionChange)="onSelectChange($event)" [placeholder]="cardInfo.cardid" [value]="selectedOption">
      <mat-option *ngFor="let item of cardInfo" [value]="item.cardid" >
        Credit Card {{ item.cardid }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="showNow">
    <b *ngIf="showNowCardStyle !== ''" > {{ showNowCardStyle.style }} </b>
    {{ cardNumberAfterFormat }}
  </div>
</div>
<div class="available-limit">
  <div>Available Limit</div>
  <div *ngIf="showNow">{{ showNow.limit | currency }}</div>
</div>
<br>
<h3 class="firstrow">
  <mat-icon aria-hidden="false" aria-label="icon">account_balance</mat-icon>
  <span> Limit Increase</span>
</h3>
<div class="row">
  <div class="title">Maximum Increase Amount </div>
  <div *ngIf="showNow" class="numbers">$ {{ showNow.max }}.00</div>
</div>
<div class="row">
  <div class="title">Increase Limit To </div>
  <mat-form-field class="example-form-field" style="width: 9rem; text-align: right;">
    <span matPrefix>$ &nbsp;</span>
    <input matInput type="text" [(ngModel)]="inputValue" (blur) = "blurmoneyformat()">
    <span matSuffix>.00 &nbsp;</span>
  </mat-form-field>
</div>
<div class="buttonarea">
  <button mat-button color="primary" (click)="submit($event)"> Submit </button>
</div>