.dropdown {
    float: right;
}

.available-limit {
    position: absolute;
    top: 12%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15rem;
    width: 15rem;
    line-height: 2.6rem;
    font-size: 1.3rem;
    color: rgb(109, 103, 211);
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 4rem;
    margin-top: 20%;
    text-align: center;
    border: 1rem solid rgb(109, 103, 211, 0.9);
    border-radius: 50%;
}
.firstrow {
    margin-top: 20rem;
}
.row {
    display: flex;

    .title {
        width: 50%;
        align-self: center;
    }
    .numbers {
        line-height: 2rem;
        font-size: 0.9rem;
        text-align: right;
    }
}

.buttonarea {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    button {
        font-size: 1rem;
        width: 10rem;
        background-color: rgb(109, 103, 211);
        color: whitesmoke;
        box-shadow: 2px 2px 2px gainsboro;
    }
}
